<div class="top-full">
  <img src="/assets/img/founders-hackathon.jpg" />
  <h1 class="title">It started with a win</h1>
</div>
<section class="section less-padding">
  <h1 class="title is-size-2">Meet the Team</h1>
  <p>Small but mighty.
    It started with a win... Our small team of six took first place at Hacking Heroin, 'a movement for better prevention, response, and recovery tools to fight the opiate epidemic.'
    Originally named Give Hope, we sought to provide an answer to the questions, "What can I do to help?" Our solution allowed organizations to share their stories and donors to see their real-world impact of each and every dollar - Creating a platform that engaged and empowered donors while fueling life-changing organizations.
    Continuing to work after the weekend, our mission is to: "Create positive impact by discovering, promoting and supporting local groups that are actively building a healthy, safe community for all."</p>
</section>
<section class="section less-padding">
  <div class="columns is-multiline">
    <div class="column is-one-third founder-card founder-card" *ngFor="let founder of founders; let i = index">
      <div class="card-image">
          <figure class="image is-1by1"
                  (mouseover)="setHover(true, i)"
                  (mouseleave)="setHover(false, i)"
                  [style.background-image]="generateImgUrl(founder, i)">
          </figure>
        </div>
      <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-size-4">{{ founder?.name }}</p>
            </div>
          </div>
          <div class="content">
            {{ founder?.bio }}
          </div>
        </div>
    </div>
  </div>
</section>
