<div class="top-full">
  <img src="/assets/img/founders-hackathon.jpg" />
  <h1 class="title">It started with a win</h1>
</div>
<section class="section less-padding">
  <h1 class="title is-size-2">Meet the Team</h1>
  <p>We are a group of people who met at a hackathon and have had a great time building a product and working as a team</p>
</section>
<section class="section less-padding">
  <div class="columns is-multiline">
    <div class="column is-one-third founder-card founder-card">
      <div class="card-image">
          <figure class="image is-1by1" [style.background-image]="'url(/assets/img/founders/mike2.jpg)'"></figure>
        </div>
      <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-size-4">Michael Praksti</p>
            </div>
          </div>
          <div class="content">
            Michael is 25 years old, from Madison, WI. He enjoys long walks on the beach, coding, designing websites, doing martial arts and other various activities!
          </div>
        </div>
    </div>
    <div class="column is-one-third founder-card">
      <div class="card-image">
          <figure class="image is-1by1" [style.background-image]="'url(/assets/img/founders/anna2.jpg)'"></figure>
        </div>
      <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-size-4">Anna</p>
            </div>
          </div>
          <div class="content">
            Anna is cool and needs a longer bio
          </div>
        </div>
    </div>
    <div class="column is-one-third founder-card">
      <div class="card-image">
          <figure class="image is-1by1" [style.background-image]="'url(/assets/img/founders/jeff2.jpg)'"></figure>
        </div>
      <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-size-4">Jeffrey Wyckoff</p>
            </div>
          </div>
          <div class="content">
            Jeff is also awesome and needs a longer bio
          </div>
        </div>
    </div>
    <div class="column is-one-third founder-card">
      <div class="card-image">
          <figure class="image is-1by1" [style.background-image]="'url(/assets/img/founders/angela2.jpg)'"></figure>
        </div>
      <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-size-4">Angela Bender</p>
            </div>
          </div>
          <div class="content">
            Angela is amaze and needs moar bio
          </div>
        </div>
    </div>
  </div>
</section>
