<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <h1 class="app-header title">Sign Up</h1>
        <br>
        <form (ngSubmit)="onSubmitUser(f)" #f="ngForm">
          <div class="field">
            <p class="control">
              <input class="input" name="firstName" id="firstName" type="text" placeholder="First Name" ngModel>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <input class="input" name="lastName" id="lastName" type="text" placeholder="Last Name" ngModel>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" name="email" id="email" type="email" placeholder="Email" ngModel>
              <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
              <span class="icon is-small is-right">
              <i class="fa fa-check"></i>
            </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" name="password" id="password" type="password" placeholder="Password" ngModel>
              <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button type="submit" class="button is-primary">
                Login
              </button>
            </p>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>

