<section class="hero is-primary small-hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-3-touch no-marg really-no-margin">
        Organizations
      </h1>
      <h2 class="title is-size-4 has-text-left">
        We work with
      </h2>
    </div>
  </div>
</section>

<section class="section less-padding">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <p>We’re proud of these support-worthy organizations and
          their impactful work in our local fight against heroin.
          Join us in helping them make an even bigger difference.</p>
      </div>
      <br><br>
    </div>
    <div class="field">
      <label class="label">Filter by initiatives</label>
      <div class="control">
        <div class="select">
          <select #d (change)="onInitChanged()" [(ngModel)]="selectVal">
            <option value="all">All Initiatives</option>
            <option *ngFor="let value of dropdownValues" [value]="value.value">{{ value.name }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section less-padding">
  <div class="container">
    <div class="columns is-multiline" *ngIf="organizations">
      <div
        class="column animated-list equal-height-card is-one-third-tablet"
        *ngFor="let organization of organizations | orgsByInitiative: filterState"
      >
        <div class="card">
          <div class="card-image" [routerLink]="['/organization', organization._id]">
            <figure class="image is-2by1" [style.background-image]="'url(' + organization.orgPhoto + ')'"></figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-size-4" [routerLink]="['/organization', organization._id]">{{ organization.name }}</p>
              </div>
            </div>
            <div class="init-icons">
              <i class="fa" [ngClass]="fetchIconClass(icon)" *ngFor="let icon of organization.initiatives">
                <div class="tooltip title is-size-7">{{ icon.name }}</div>
              </i>
            </div>
            <div class="content">
              {{ organization.descriptionShort }}
            </div>
          </div>
          <footer class="card-footer">

            <p class="card-footer-item">
              <a [routerLink]="['/organization', organization._id]" class="button is-primary is-fullwidth">
                Learn More
              </a>
            </p>
          </footer>
        </div>
      </div>
    </div>
  </div>
</section>
