<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar">
  <!--<div>{{ mobileNavShowing }}</div>-->
  ß<div>{{ isUserLoggedIn }}</div>
  <!--<div>{{ authService.token }}</div>-->
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="../../assets/img/logo.png" width="95">
    </a>
    <div class="navbar-burger" [ngClass]="{ 'is-active': mobileNavShowing }" (click)="toggleMobileMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" [ngClass]="{ 'is-active': mobileNavShowing }">
    <div class="navbar-start">
        <a class="navbar-item " routerLink="/">
          Home
        </a>
        <a class="navbar-item " routerLink="/organizations">
          Orgs
        </a>
        <a class="navbar-item " href="/">
          About us
        </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control" *ngIf="isUserLoggedIn">
            <a class="button" (click)="onUserSignOut()">Sign Out</a>
          </p>
          <p class="control" *ngIf="!isUserLoggedIn">
            <a routerLink="/auth/sign-in" class="button">Sign In</a>
          </p>
          <p class="control" *ngIf="!isUserLoggedIn">
            <a routerLink="/auth/sign-up" class="button">Sign Up</a>
          </p>
          <p class="control">
            <a routerLink="/" class="button is-primary">
              <span class="icon">
                <i class="fa fa-download"></i>
              </span>
              <span>My Metrics</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
