nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

section.section.less-padding {
  padding: 1.5rem;
}

section.section.chart-section {
  padding: 1.5em;

  @media screen and (max-width: 767px) {
    padding: 1.5em 0.5em;
  }
}

.self-centered {
  align-self: center;
}

.title {
  font-family: 'Montserrat', sans-serif!important;
  text-transform: uppercase!important;
  display: block!important;
  font-size: 5vw!important;
  word-break: normal!important;
  hyphens: auto;

  &.no-marg.really-no-margin {
    margin: 0;
  }
}

.subtitle {
  max-width: 600px!important;
  margin: 0.1rem auto 2rem auto!important;
  font-size: 1.1rem!important;
}

.hero-body {
  padding: 2rem 1.5rem;
}

.card-image {
  figure {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.column.equal-height-card {
  display: flex;

  &:hover {
    .card-image figure {
      transform: scale(1.03);
    }
  }

  .card {
    padding-bottom: 70px;
    width: 100%;
    transition: 0.9s background ease;
    border-radius: 5px 5px 20px 20px;
  }

  .title {
    cursor: pointer;
  }

  .card-image {
    overflow: hidden;
    cursor: pointer;

    figure {
      transform: scale(1);
      transition: 0.9s transform ease;
      border-radius: 5px 5px 0 0;
    }
  }

  footer {
    position: absolute;
    padding-bottom: 10px;
    bottom: 0;
    left: 0;
    right: 0;

    &,
    .card-footer-item {
      border: none;
    }
  }
}

.button.is-primary-nobg {
  background: transparent;
  color: #cd0930;
  border: none;
}

.small-hero {
  .hero-body {
    padding: 1.5rem;
  }
}

.link-with-icon {
  display: flex;
  align-items: center;
  cursor: pointer;

  i { margin-left: 5px; }
}

.break-mobile {
  @media screen and (max-width: 767px) {
    display: block;
  }
}

footer.simply-a-footer {
  padding: 1.5em;
}
