<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="../../assets/img/logo.png" width="95">
    </a>
    <div class="navbar-burger" [ngClass]="{ 'is-active': mobileNavShowing }" (click)="toggleMobileMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" [ngClass]="{ 'is-active': mobileNavShowing }">
    <div class="navbar-start">
        <a class="navbar-item " routerLink="/" (click)="toggleMobileMenu()">
          Home
        </a>
        <a class="navbar-item " routerLink="/organizations" (click)="toggleMobileMenu()">
          Orgs
        </a>
        <a class="navbar-item " href="/" (click)="toggleMobileMenu()">
          About us
        </a>
    </div>
    <div class="navbar-end">
      <div class="field is-grouped" *ngIf="!(authService.user | async)">
        <a class="navbar-item" routerLink="/auth/sign-in" (click)="toggleMobileMenu()">Sign In</a>
        <a class="navbar-item" routerLink="/auth/sign-up" (click)="toggleMobileMenu()">Sign Up</a>
      </div>
      <div class="navbar-item has-dropdown is-hoverable" *ngIf="authService.user | async">
        <a class="navbar-link  is-active">
          <div class="navbar-item">{{ (authService.user | async)?.email }}</div>
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" (click)="onUserSignOut()">Sign Out</a>
          <a class="navbar-item" routerLink="/auth/admin" (click)="toggleMobileMenu()">Add an Org</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
