<section class="section">
  <div class="container">
    <h1 class="app-header title has-text-centered">Organization Creation</h1>
    <br>
    <br>

    <div class="columns">
      <div class="column is-6 is-offset-3">
        <form (submit)="onSubmit(f)" #f="ngForm">
          <div class="field">
            <p class="control">
              <label for="name">Name:</label>
              <input class="input" name="name" id="name" type="text" ngModel>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <label for="descriptionLong">Description <small>(long)</small>:</label>
              <textarea
                class="textarea"
                rows="4"
                name="descriptionLong"
                id="descriptionLong"
                ngModel>
              </textarea>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <label for="descriptionShort">Description <small>(short)</small>:</label>
              <input class="input" name="descriptionShort" id="descriptionShort" type="text" ngModel>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <label for="founderName">Founder Name:</label>
              <input class="input" name="founderName" id="founderName" type="text" ngModel>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <label for="founderShortBio">Founder Short Bio:</label>
              <input class="input" name="founderShortBio" id="founderShortBio" type="text" ngModel>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <label for="founderHeadShot">Founder Head Shot <small>(URL)</small>:</label>
              <input class="input" name="founderHeadShot" id="founderHeadShot" type="text" ngModel>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <label for="orgPhoto">Org Photo <small>(URL)</small>:</label>
              <input class="input" name="orgPhoto" id="orgPhoto" type="text" ngModel>
            </p>
          </div>
          <label>Initiatives <small>(max of three)</small>:</label>
          <div class="field" *ngFor="let initiative of initiatives;">
            <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox"
                         [ngModelOptions]="{standalone: true}"
                         [(ngModel)]="initiative.selected"/> {{initiative.name}}
                </label>
              </div>
            </div>
            <div *ngIf="initiative.selected">
              <div class="field">
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    placeholder="Initiative Title"
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="initiative.title">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input
                    class="input"
                    type="text"
                    placeholder="Initiative Image(URL)"
                    [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="initiative.image">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <textarea
                  class="textarea"
                  rows="4"
                  placeholder="Description of you initiative here"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="initiative.description">
                  </textarea>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="field">
            <div class="control">
              <button class="button is-primary" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--<h1 class="app-header title has-text-centered">Organization Deletion</h1>-->
    <!--<br>-->
    <!--<br>-->
    <!--<div *ngFor="let org of orgs;" (click)="onOrgClicked(org._id)">{{org.name}}</div>-->
  </div>
</section>
