<div class="container">

  <section class="section">
    <h1 class="title is-size-1-desktop is-size-3-touch">My Profile</h1>
    <small>View your metrics, change your profile info and more.</small>
    <br><br>

    <div class="tabs">
      <ul>
        <li routerLinkActive="is-active"><a routerLink="/profile/my-metrics">My Metrics</a></li>
        <li routerLinkActive="is-active"><a routerLink="/profile/edit-profile">Edit Profile</a></li>
      </ul>
    </div>

    <router-outlet></router-outlet>
  </section>
</div>
