<div class="header-image" [style.background-image]="'url(' + currOrg?.orgPhoto + ')'"></div>

<div class="container">

  <section class="section less-padding">
    <h1 class="title is-size-1-desktop is-size-3-touch">{{ currOrg?.name }}</h1>
    <br>
    <p>{{ currOrg?.descriptionLong}}</p>
  </section>

  <section class="section less-padding">
    <h2 class="title is is-size-5">About the Founder:</h2>
    <br>
    <article class="media">
      <figure class="media-left">
        <p class="image is-96x96 founder-picture" style="border-radius: 50%;" [style.background-image]="'url(' + currOrg?.founderHeadShot + ')'"></p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ currOrg?.founderName }}</strong>
            <br>
            {{ currOrg?.founderShortBio }}
          </p>
        </div>
      </div>
      <div class="media-right">
      </div>
    </article>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="title is-size-3 has-text-centered">Initiatives:</h2>
      <br>
      <div class="columns is-multiline">
        <div class="column equal-height-card is-one-third" *ngFor="let initiative of initiatives; let i = index">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1" [style.background-image]="'url(' + initiative.image + ')'"></figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-size-4">{{ initiative.title }}</p>
                </div>
              </div>
              <div class="content">
                {{ initiative.description }}
              </div>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <a class="button is-primary is-fullwidth is-medium" (click)="toggleModal(initiative)">Donate!</a>
              </p>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="modal" [ngClass]="{'is-active': isModalActive}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="
      modal-card-title
      title no-marg
      really-no-margin
      is-size-6-touch
      is-size-4-desktop">{{ currInitiative?.title }}</p>
      <button class="delete" aria-label="close" (click)="toggleModal(currInitiative)"></button>
    </header>
    <section class="modal-card-body section">
      <div class="modal-section-one" *ngIf="modalStatus === 0">
        <h1 class="title is-size-4">Your decision to give will directly impact others:</h1>
        <br>
        <p>Your donation is equal to {{ userDonation * currInitiative?.multiplicationFactor | number: '1.2-2' }} {{ currInitiative?.equationParameter }}</p>
        <br>
        <div class="columns is-mobile">
          <div class="field column is-4">
            <p class="control">
              <input class="input" placeholder="Your donation here" [(ngModel)]="userDonation">
            </p>
          </div>
          <div class="column is-narrow" (click)="incrementDonation(false, 10)">
            <span class="icon">
              <i class="fa fa-minus"></i>
            </span>
          </div>
          <div class="column is-narrow" (click)="incrementDonation(true, 10)">
            <span class="icon">
              <i class="fa fa-plus"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="modal-section-two" *ngIf="modalStatus === 1">
        <form>
          <squeezebox [multiple]="false">
            <sb-item [collapsed]="false">
              <sb-item-head class="title is-size-6-touch is-size-5">Payment Address</sb-item-head>
              <sb-item-body>
                <div class="sb-item-body-pad">
                  <div class="columns">
                    <div class="column is-6">
                      <div class="field">
                        <p class="control">
                          <label for="first-name">First Name:</label>
                          <input disabled class="input" placeholder="placeholder">
                        </p>
                      </div>
                    </div>
                    <div class="column is-6">
                      <div class="field">
                        <p class="control">
                          <label>Last Name:</label>
                          <input disabled class="input" placeholder="placeholder">
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column is-12">
                      <div class="field">
                        <p class="control">
                          <label>Address:</label>
                          <input disabled class="input" placeholder="placeholder">
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column is-8">
                      <div class="field">
                        <p class="control">
                          <label>City:</label>
                          <input disabled class="input" placeholder="placeholder">
                        </p>
                      </div>
                    </div>
                    <div class="column is-4">
                      <div class="field">
                        <p class="control">
                          <label>State:</label>
                          <select disabled class="input" placeholder="placeholder">
                            <option value="montana">Montana</option>
                            <option value="wisconsin">Wisconsin</option>
                          </select>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column is-5">
                      <div class="field">
                        <p class="control">
                          <label>Zip:</label>
                          <input disabled class="input" placeholder="placeholder">
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </sb-item-body>
            </sb-item>
            <sb-item>
              <sb-item-head class="title is-size-6-touch is-size-5">Payment Info</sb-item-head>
              <sb-item-body>
                <div class="sb-item-body-pad">
                  <div class="columns">
                    <div class="column is-12">
                      <div class="field">
                        <p class="control">
                          <label for="first-name">Card Number:</label>
                          <input disabled class="input" placeholder="placeholder" type="text" >
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column is-2">
                      <div class="field">
                        <p class="control">
                          <label for="first-name">Exp.</label>
                          <select disabled class="input" placeholder="placeholder">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                          </select>
                        </p>
                      </div>
                    </div>
                    <div class="column is-2">
                      <div class="field">
                        <p class="control">
                          <label for="first-name">&nbsp;</label>
                          <select disabled class="input" placeholder="placeholder">
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                          </select>
                        </p>
                      </div>
                    </div>
                    <div class="column is-3">
                      <div class="field">
                        <p class="control">
                          <label for="first-name">CVG:</label>
                          <input disabled class="input" placeholder="placeholder" name="first-name" id="first-name" type="text" ngModel>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </sb-item-body>
            </sb-item>
          </squeezebox>
        </form>
      </div>
      <div class="modal-section-three" *ngIf="modalStatus === 2">
        <h1 class="title no-marg really-no-margin is-size-3">Confirm your donation</h1>
        <br>
        <p>Send ${{ userDonation }} to {{ currOrg?.name }} for their initiative, {{ currInitiative?.title }}?</p>
        <br>
        <a class="button is-primary" (click)="onDonate(currInitiative._id)">Confirm</a>
      </div>
      <div class="modal-section-four has-text-centered" *ngIf="modalStatus === 3">
        <img src="../../assets/img/loading.svg" alt="" *ngIf="isLoading">
        <div class="success" *ngIf="!isLoading">
          <h1 class="title no-marg really-no-margin">Thanks!</h1>
          <br>
          <p>You can head to your profile to your profile to see your metrics
            <a routerLink="/profile/my-metrics">here</a> or head back to the <a routerLink="/">home page</a>
          </p>
          <br><br>
          <div class="columns">
            <div class="column">
              <a class="button is-primary">
                <span href="http://www.twitter.com" class="icon">
                  <i class="fa fa-twitter"></i>
                </span>
                <span>Twitter</span>
              </a>
              <a href="http://facebook.com" class="button is-primary">
                <span class="icon">
                  <i class="fa fa-facebook"></i>
                </span>
                <span>Facebook</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button" *ngIf="modalStatus >= 1" (click)="modalNavigator(false)">Back</button>
      <button class="button is-primary" (click)="modalNavigator(true)" [disabled]="modalStatus >= 2">Next</button>
    </footer>
  </div>
</div>
