.header-image {
  height: 290px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.founder-picture {
  background-size: cover;
  background-position: center;
}

.modal-card-head .modal-card-title {
  width: 90%;
}
