.header-image {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.founder-picture {
  background-size: cover;
  background-position: center;
}
