<header class="video-header">
  <video src="../../assets/video/hopemovie.mp4" autoplay loop playsinline muted></video>
    <div class="viewport-header">
      <h1>
        Don't just give money
        <span>Give Hope</span>
      </h1>
      <p>We're a crowdfunding platform designed to bring low visibility people and organizations doing amazing work into the light. Lorem ipsum dolor sit amet, la la la and some more flavor text for length.</p>
    </div>
</header>

<div class="home-content">
  <img src="https://image.freepik.com/free-vector/colored-round-infographic-with-four-steps_23-2147630010.jpg" class="infographic" alt="">

  <section class="section how-to-help">
    <div class="container">
      <h1 class="title">There's a lot of ways to help</h1>
      <div class="decoritive-seperator">
        <div class="diamond"></div>
        <div class="line"></div>
      </div>
      <p class="subtitle">
        <small>With givehope, you choose where you make an impact</small>
      </p>
      <div class="columns">
        <div class="column">
          <p>Harm reduction</p>
          <small>Here's some flavor text and lorem ipsum dolor sit a- wait nobody's reading this wtf</small>
          <br><br>
          <a class="button is-primary" href="">
            <span>Give Now</span>
          </a>
        </div>
        <div class="column">
          <p>Prevention</p>
          <small>Here's some flavor text and lorem ipsum dolor sit a- wait nobody's reading this wtf</small>
          <br><br>
          <a class="button is-primary" href="">
            <span>Give Now</span>
          </a>
        </div>
        <div class="column">
          <p>Community support</p>
          <small>Here's some flavor text and lorem ipsum dolor sit a- wait nobody's reading this wtf</small>
          <br><br>
          <a class="button is-primary" href="">
            <span>Give Now</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section our-partners">
    <div class="container">
      <h1 class="title">Our Partners</h1>
      <div class="decoritive-seperator">
        <div class="diamond"></div>
        <div class="line"></div>
      </div>
      <p class="subtitle">
        <small>We take pride in who we work with:</small>
      </p>
      <div class="columns">
        <div class="column">
          <img src="../../assets/img/partners/sprylabs.png" alt="">
        </div>
        <div class="column">
          <img src="../../assets/img/partners/stelizabeth.png" alt="">
        </div>
        <div class="column">
          <img src="../../assets/img/partners/centrifuse.png" alt="">
        </div>
        <div class="column">
          <img src="../../assets/img/partners/microsoft.png" alt="">
        </div>
        <div class="column">
          <img src="../../assets/img/partners/17a.png" alt="">
        </div>
      </div>
    </div>
  </section>
</div>
