<header class="video-header">
  <video src="../../assets/video/hopemovie2.mp4" autoplay loop playsinline muted></video>
    <div class="viewport-header">
      <h1 class="is-size-4-mobile">
        Don't just give money
        <span class="is-size-1-mobile">Give Hope</span>
      </h1>
      <p>We're a crowdfunding platform designed to bring low visibility people and organizations doing amazing work into the light. Lorem ipsum dolor sit amet, la la la and some more flavor text for length.</p>
    </div>
</header>

<div class="home-content">
  <section class="section how-to-help">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title is-size-2-touch">There's a lot of ways to help</h1>
        </div>
        <div class="column">
          <small>Here's some flavor text and lorem ipsum dolor sit a-
            everyone is reading this now. We're a crowdfunding platform designed to bring low
            visibility people and organizations doing amazing work into the light. Lorem
            ipsum dolor sit amet, la la la and some more flavor text for length.</small>
          <br><br>
          <a class="button" routerLink="/organizations">
            <span>Give Now</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section our-partners">
    <div class="container">
      <h1 class="title is-size-2-touch">Our Partners</h1>
      <p class="subtitle">
        <small>We take pride in who we work with:</small>
      </p>
      <div class="columns">
        <div class="column">
          <img src="../../assets/img/partners/sprylabs.png" alt="">
        </div>
        <div class="column">
          <img src="../../assets/img/partners/stelizabeth.png" alt="">
        </div>
        <div class="column">
          <img src="../../assets/img/partners/centrifuse.png" alt="">
        </div>
        <div class="column">
          <img src="../../assets/img/partners/microsoft.png" alt="">
        </div>
        <div class="column">
          <img src="../../assets/img/partners/17a.png" alt="">
        </div>
      </div>
    </div>
  </section>
</div>
